@import "functions";
@import "variables";
@import "bootstrap";
.banner{
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
}
.content{
    height: 500px;
}
.bg-black{
    position: relative;
    background-color: $black;
    opacity: .8;
    color: $white;
    padding: 50px;
    font-weight: bold;
    border-radius: 15px;
}
#btn-count,#btn-reset,#btn-dele,.btn-rounded{
    width: 120px;
    height: 120px;
    font-weight: bold;
}
.border-5{
    border-left-width:5px !important;
    border-bottom-width:5px !important;
    border-radius: 10px;
}
.result-btn{
    width: 120px;
    height: 120px;
    font-weight: bold;
    text-decoration: none !important;
    position: relative;
}
.btn-redo{
    position: absolute;
    bottom:0;
    right: 0;
    width: 30px;
    height: 30px;
}
.btn-original{
    background-color: #DEA921;
    color: white;
    &:hover{
        color:white;
    }
}
.btn-primary-border{
    border:5px solid $primary;
    border-radius: 50%;
    color:$primary;
}
.btn-success-border{
    border:5px solid $success;
    border-radius: 50%;
    color:$success;
}
.btn-warning-border{
    border:5px solid $warning;
    border-radius: 50%;
    color:$warning;
}
.btn-danger-border{
    border:5px solid $danger;
    border-radius: 50%;
    color:$danger;
}